<div class="producto-item" aria-labelledby="producto-nombre">
    <img [src]="producto.imagen" [alt]="producto.nombre" />
    
    <!-- Nombre del producto -->
    <h3 id="producto-nombre">{{ producto.nombre }}</h3>
    
    <!-- Descripción del producto -->
    <p class="descripcion">{{ producto.descripcion }}</p>
    
    <!-- Precio del producto -->
    <strong class="precio">{{ producto.precio }} €</strong>
    
    <!-- Botón de ver más detalles -->
    <br />
    <button class="carrito" [routerLink]="['/Todas-Las-Categorias/producto', producto.id]" aria-label="Ver más detalles del producto">
      Ver más
    </button>
    
    <!-- Botón de añadir al carrito -->
    <br />
    <button class="carrito" aria-label="Añadir producto al carrito" (click)="addToCart()">
      Añadir al carrito
    </button>
  </div>
  