  <div class="banner">
    <h1 class="titulo">Amazon't & Valentine's</h1>
    <h3>Reasons for Choosing US</h3>
  </div>

  <div class= 'container'>
<div class="container_content">
<div class="container_content_inner">
<div class="title">
  <h1 class="h1">Amazon't</h1>
</div>
<div class="par">
<p>
Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui possimus sit eveniet laborum sapiente quisquam quae neque velit?

</p>
</div>
<div class="btns">
<button class='btns_more'> Ver más </button>
</div>
</div>
</div>
<div class="overlay"></div>
