<div class="main-container" aria-label="Contenedor principal del producto">
  <div class="product-container" aria-label="Contenedor del producto">
    <!-- Título del producto -->
    <h1>{{ product.title }} </h1>
    
    <!-- Galería de imágenes -->
    <div class="gallery" aria-label="Galería de imágenes del producto">
      <img [src]="product.images[0]" class="main-image" alt="Imagen principal del producto">
      
      <!-- Miniaturas -->
      <div class="thumbnails" aria-label="Miniaturas de imágenes del producto">
        @for (img of product.images; track img) {
          <img [src]="img" alt="Miniatura de imagen del producto">
        }
      </div>
    </div>
    
    <!-- Descripción del producto -->
    <p aria-label="Descripción del producto">{{ product.description }}</p>
    
    <!-- Precio del producto -->
    <h2 aria-label="Precio del producto">${{ product.price }}</h2>
  
    <!-- Disponibilidad del producto -->
    @if (product.availability) {
      <p aria-label="Disponibilidad del producto">Disponible</p>
    } @else {
      <p aria-label="Disponibilidad del producto">Agotado</p>
    }
  
    <!-- Botón de compra -->
    <button [disabled]="!product.availability" (click)="addToCart()" aria-label="Añadir al carrito" [attr.aria-disabled]="!product.availability ? 'true' : 'false'">Añadir al carrito</button>
  
    <!-- Opiniones del producto -->
    <h3 aria-label="Opiniones sobre el producto">Opiniones</h3>
    @for (review of product.reviews; track review.user) {
      <div class="reviews" aria-label="Opinión de usuario">
        <p><strong>{{ review.user }}</strong>: {{ review.comment }} ({{ review.rating }}/5)</p>
      </div>
    }
  
    <!-- Información adicional -->
    <h3 aria-label="Información adicional sobre el producto">Información Adicional</h3>
    <p class="additional-info" aria-label="Información adicional sobre el producto">Envío en 24h. Devoluciones gratis.</p>
  </div>
</div>
