<h1>Productos recomendados</h1>
<div class="list-wrapper">
  <div class="list" #productList>
    @for (productoRecomendado of productosRecomendados; track productoRecomendado.id) {
    <div class="card">
      <img class="card-img" [src]="productoRecomendado.img" alt="">
      <div class="card__content">
        <h2 class="card__title">{{productoRecomendado.nomProducto}}</h2>
        <h3 class="card__description">{{productoRecomendado.precio}}</h3>
        <button> Leer más </button>
      </div>
    </div>
    }
  </div>
  <button (click)="scroll('prev')" class="button button--previous" type="button">➜</button>
  <button (click)="scroll('next')" class="button button--next" type="button">➜</button>
</div>

