<header>
  <nav class="navbar">
    <a href="#" class="logo">Amazon't</a>
    <div class="search-container">
      <input type="text" placeholder="Buscar en Amazon't..." class="search-input">
      <button class="search-button">
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/1A1A1A/search--v1.png" alt="search--v1" />
      </button>
    </div>
    <div class="nav-buttons">
      <div class="user-menu-container">
        <button class="nav-button user-button" (click)="toggleUserMenu()">
          <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/user--v1.png" alt="Usuario" />
        </button>
        @if (userMenuVisible) {
          <div class="user-dropdown">
            <a routerLink="/login">Identifícate</a>
            <a routerLink="/register">Regístrate</a>
          </div>
        }
      </div>
      
      <button class="nav-button options-button">
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/settings--v1.png"
          alt="settings--v1" />
      </button>

      <button class="nav-button options-button">
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/language.png" alt="language" />
      </button>

      <button class="nav-button options-button" routerLink="/cart">
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/shopping-cart--v1.png"
          alt="shopping-cart--v1" />
      </button>

    </div>
  </nav>
  <nav class="navbar2">
    <div class="nav-buttons2">
      <button class="nav-button2 user-button2">
        <a routerLink="Todas-Las-Categorias">Todas las categorias</a>
      </button>
      <button class="nav-button2 options-button2">
        <a>Lo más vendido</a>
      </button>
      <button class="nav-button2 options-button2">
        <a>Ofertas del dia</a>
      </button>
      <button class="nav-button2 options-button2">
        <a>Novedades</a>
      </button>
    </div>
  </nav>
</header>
<router-outlet />


