<!-- Contenedor principal de las categorías -->
<div class="categoria-container" aria-label="Lista de categorías">

    <!-- Tarjeta individual de categoría -->
    <div class="categoria-card" role="listitem" aria-labelledby="categoria">
  
      <!-- Nombre de la categoría -->
      <p id="categoria" aria-label="Nombre de la categoría">{{ categoria.nombre }}</p>
    </div>
  
    <!-- Contenido adicional relacionado a la categoría (vacío por ahora) -->
    <div class="card__content"></div>
  </div>
  