<h1 id="categorias-heading" aria-label="Sección de categorías">Nuestras Categorías</h1>
<br>
<div class="list" aria-labelledby="categorias-heading">
  @for (categoria of categorias; track categoria.id) {
    <app-categoria-item 
      [categoria]="categoria" 
      (click)="seleccionarCategoria(categoria.id)" 
      aria-labelledby="categoria nombre">
    </app-categoria-item>
  }
</div>
<hr class="rounded">

@if (categoriaSeleccionada) {
  <h1 id="productos-heading" aria-label="Sección de productos">Productos</h1>
  <div class="productos-container" aria-labelledby="productos-heading">
    @for (producto of productos; track producto.id) {
      @if (producto.categoriaId === categoriaSeleccionada) {
        <app-producto-item 
          [producto]="producto" 
          aria-labelledby="producto nombre">
        </app-producto-item>
      }
    }
  </div>
}

<router-outlet></router-outlet>
